* {
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    font-family: "IBM Plex Mono";
    font-style: normal;
    font-stretch: normal;
    line-height: initial;
    margin: 0px;
    max-width: 100%;
    background-color: #1a1a1a;
    color: #ececec;
}

div {
    display: block;
}

a,abbr,acronym,address,applet,big,blockquote,body,caption,cite,code,dd,del,dfn,div,dl,dt,em,fieldset,form,h1,h2,h3,h4,h5,h6,html,iframe,img,ins,kbd,label,legend,li,object,ol,p,pre,q,s,samp,small,span,strike,strong,table,tbody,td,tfoot,th,thead,tr,tt,ul,var {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

a {
    color: #26bbd9;
}

.root {
    max-width: 1280px;
    margin: auto;
}

.section {
    padding-left: 24px;
    padding-right: 24px;
}

.section:first-child {
    padding-top: 24px;
}

.section:last-child {
    padding-bottom: 24px;
}

.large-shadow {
    box-shadow: 0 22px 70px 4px rgba(0, 0, 0, 0.56);  
}

#main-title {
    color: #da3450;
    border-right: 24px solid #ececec;
}

@keyframes blink-caret {
    50% { border-color: transparent; }
}

.card {
    padding: 24px 32px;
    margin-bottom: 24px;

    border: 1px solid #3c3c3c;
    border-radius: 8px;

    width: 100%;

    background-color: #212121;
}

.card .title {
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 48px;
    margin: 0px 0px 24px 0px;
}

.card .text {
    font-weight: 800;
    font-size: 18px;
    margin-right: 200px;
}

.flat-card {
    padding: 48px;
    width: 100%;
    color: #ececec;
}

.profile-picture {
    border: 2px solid #da3450;
    border-radius: 50%;
}

.warn {
    background-color: #ffee58;
    color: #1a1a1a;
    font-weight: 800;
}

.footer {
    bottom: 0;
    padding: 24px;
    border-top: 1px solid #3c3c3c;
}
