* {
    box-sizing: border-box;
}

::selection {
  color: black;
  background: #cecece;
}

html {
    height: 100%;
    width: 100%;
}

body {
    font-family: "IBM Plex Mono";
    font-style: normal;
    font-stretch: normal;
    line-height: initial;
    margin: 0px;
    max-width: 100%;
    background-color: #0a0a0a;
    color: #ececec;
}

div {
    display: block;
}

a,abbr,acronym,address,applet,big,blockquote,body,caption,cite,code,dd,del,dfn,div,dl,dt,em,fieldset,form,h1,h2,h3,h4,h5,h6,html,iframe,img,ins,kbd,label,legend,li,object,ol,p,pre,q,s,samp,small,span,strike,strong,table,tbody,td,tfoot,th,thead,tr,tt,ul,var {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

a {
    color: #26bbd9;
}

.root {
    max-width: 100%;
    margin: auto;
}

.section {
    overflow: hidden;
    background-color: #1a1a1a;
    position: relative;
    z-index: 2;
    padding: 4rem 2rem;
}

.section-second {
    background-color: #cecece;
}

.large-shadow {
    box-shadow: 0 12px 40px 4px rgba(0, 0, 0, 0.56), 0 0 0 1px #1a1a1a;
}

.large-shadow-up {
    box-shadow: 0 -12px 64px 4px rgba(0, 0, 0, 0.6);
}

#main-title {
    color: #da3450;
    border-right: 24px solid #cecece;
}

@keyframes blink-caret {
    50% { border-color: transparent; }
}

.line-decor-1 {
    position: absolute;
    width: 100%;
    height: 1px;
    z-index: 4;
    transform: translateY(8px);
    border-top: 8px solid #1a1a1a;
}

.line-decor-2 {
    position: absolute;
    width: 100%;
    height: 1px;
    z-index: 4;
    transform: translateY(-16px);
    border-top: 8px solid #1a1a1a;
}

@keyframes bg-scrolling-reverse {
    100% { background-position: 50px 50px; }
}

.banner {
    padding: 9rem 4rem;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: transparent;
}

.bg {
    position: absolute;
    left: 2rem;
    width: 60%;
    height: 100vh;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC') repeat 0 0;
    animation: bg-scrolling-reverse 5s infinite;
    animation-timing-function: linear;
    filter: invert(0.95);
}

@media screen and (max-width: 860px) {
    .bg {
        width: 80%;
    }
}

.banner .banner-content {
    position: relative;
    width: 100%;
}

.banner .banner-back-text {
    font-weight: 800;
    font-size: 64rem;
    position: absolute;
    color: #1a1a1a;
    top: -8rem;
    left: 4vw;
    z-index: 1;
    font-family: Sans-serif;
    user-select: none;
}

.card {
    padding: 24px 32px;
    border: 1px solid #3c3c3c;
    border-radius: 8px;
    width: 100%;
    background-color: #212121;
}

.text-zone {
    position: relative;
    width: 50%;
    z-index: 1;
}

@media screen and (max-width: 848px) {
    .text-zone {
        width: 80%;
    }
}

@media screen and (max-width: 580px) {
    .text-zone {
        width: 100%;
    }
}

#main-title {
    vertical-align: baseline;
}

.banner-content .text-zone {
    font-family: monospace;
    font-weight: 800;
}

.banner-content .title {
    font-size: 5rem;
    margin: 0 0 36px 0;
}

@media screen and (max-width: 560px) {
    .banner-content .title {
        font-size: 3rem;
        margin: 0 0 36px 0;
    }
}

.banner-content .text {
    font-size: 1rem;
}

.card .title {
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 48px;
    margin: 0px 0px 24px 0px;
}

.card .text {
    font-weight: 800;
    font-size: 18px;
}

.flat-card {
    padding: 48px;
    width: 100%;
    color: #ececec;
}

.profile-picture {
    border: 2px solid #da3450;
    border-radius: 50%;
}

.warn {
    background-color: #ffee58;
    color: #1a1a1a;
    font-weight: 800;
}

.footer {
    bottom: 0;
    padding: 24px;
    border-top: 1px solid #3c3c3c;
}
